.App {
  height: 100vh;
  /* text-align: center; */
  /* background: black; */
  display: flex;
  justify-content: center;
  /* margin: 50px; */
}

.header-component {
  background: rgb(138, 0, 0);
  height: 10vh;
  position: fixed;
  width: 100%;

}

.main-container {
  height: 100vh;
  width: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin: 0 auto;
  /* background: blue; */
}

.dashboard-component {
  background: rgb(191, 59, 59);
  height: 50vh;
  width: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  flex-direction: column;
}

.product-component {
  margin-top:10vh;
  height: 90%;
  width:90%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* flex-direction: column; */
  
}

.products {
  display:flex;
  flex-direction: column;
  margin: 20px;
}

.form-component {
  background: rgba(130, 211, 123, 0.906);
  height: 50vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.create-product {
  margin: 50px;
}

.form-tools {
  margin: 20px;
}

img {
  height: 150px;
}
.buttons {
  display:flex;
  flex-direction: row;
}

button {
  background:rgb(191, 59, 59);
  border-radius: 10%;
  height: 50px; 
}